zend_extension=xdebug.so
xdebug.default_enable = {{ php_xdebug_default_enable }}
xdebug.remote_enable = {{ php_xdebug_remote_enable }}
xdebug.remote_handler = {{ php_xdebug_remote_handler }}
xdebug.remote_host = {{ php_xdebug_remote_host }}
xdebug.remote_port = {{ php_xdebug_remote_port }}
xdebug.remote_autostart = {{ php_xdebug_remote_autostart }}
xdebug.remote_connect_back = {{ php_xdebug_remote_connect_back }}
xdebug.max_nesting_level = {{ php_xdebug_max_nesting_level }}
xdebug.cli_color = {{ php_xdebug_cli_color }}
xdebug.var_display_max_children = {{ php_xdebug_var_display_max_children }}
xdebug.var_display_max_data = {{ php_xdebug_var_display_max_data }}
xdebug.var_display_max_depth = {{ php_xdebug_var_display_max_depth }}
